
body {
	font-family: sans-serif;
	background-color: #fff;

}

nav {
	padding: 60px 0 0 0;
}

nav ul {
	list-style: none;
}

li {
	color: #8ea7b6;
}

header {
	background-image: href"images/blog_header_bg.jpg" top left no-repeat; 
	height: 478px;
}

header h1 {
	color: #fff;
	font-size: 4em;
	margin: 0 auto;
	line-height: 478px;
	text-align: center;
}

main {
	margin: 0 auto;
	padding: 40px 0 30px 0;
}

